$color_error: #f00;
$color_checked: #fc0;
$color_green: #0f0;
$color_form: #ebebeb;
$color_grey: #464646;
$color_border: #b0b0b0;
$color_hover: #0c0;
$color_placeholder: #999;
$color_white: #fff;
$color_black: #000;
$color_breadcrumb_text: #333;
$color_breadcrumb_text_active: #808080;

$color_black-alfa: rgba(0, 0, 0, 0.15);
$color_grey-alfa: rgba(229, 229, 229, 0.5);
$color_hover-alpha: rgba(0, 51, 0, 0.17);
$color_error-alpha: rgba(255, 0, 0, 0.1);
$color_hover-alpha: rgba(0, 51, 0, 0.17);
